#loader {
    color: #008cff;
    font-family: 'Helvetica Neue','calibiri';
    font-size: 14px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
  }
  
  .wrap {
    box-sizing: border-box;
    height: 260px;
    margin: 0 auto;
    /* padding: 30px 10px; */
    width: 260px;
  }



.selector-container input[type="radio"] {
    display: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.slider-container label {
    font-weight: bold;
    padding-top: 10px;
    display: block;
    width: 90%;
}

.selector-container input[type="radio"]:checked + .button {
    background-color: #6f518a;
    box-shadow: #3f324a;
    color: white;
    border-color: #6f518a;;
}
.e-control-wrapper.e-slider-container .e-slider .e-handle {
    background-color:#6f518a;
    border-color: #6f518a;
}
.e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
    background-color: #6f518a;
}
.e-control-wrapper.e-slider-container.e-horizontal {
    height: 48px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.e-scale .e-tick.e-custom::before {
    content: '\e967';
    position: absolute;
}
/* #time-slider .e-handle {
    height: 25px;
    width: 2px;
    top: 3px;
    border-radius: 15px;
    background-color: #f9920b;
  } */
.DateTime-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.map-label {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 90%
}
.mapboxgl-compare .compare-swiper-vertical {
    background-color:#6f518a;
}

#console {
    position: absolute;
    box-shadow: inset 0 0 0 2px #fff;
    display:flex;
    top: 30px;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 10px;
    padding: 10px 10px;
    background-color: white;
    overflow-y: auto;
    border-radius: 5px;
}
.selector-container.hidden {
    display: none;
}
.selector-container {
    margin-top: 20px;
}

.console-content {
    flex: 1;
    overflow: hidden;
    height: fit-content;
    transition: height 0.3s ease;
    border:none;
}
#console-collapsed 
{
    display:none
}
#console-expanded{
    display:block
}
.console-collapsed .console-content {
    display:none;
    height: 0;
    padding: 0;
}

.console-expanded .console-content {
    display:block;
    height: fit-content;
    padding: 10px; /* Adjust padding as needed */
}

.console-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content

}
#census-colorbar {
    display: flex;
    height: 20px;
    width: 100%;
}
.colorbar-segment {
    flex: 1;
    height: 100%;
}

.draggable {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    position: absolute;
    top: 70%;
    left: 10px;
    cursor: move;
    z-index: 1000;
}
.slider-container {
    display: block;
    margin: 10px;
}

.slider-container.hidden {
    display: none;
}
.draggable h3 {
    margin: 0;
    padding: 0;
    cursor: move;
}
#toggle-button {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

/* For the legend */
.map-legend {
    height: 8px;
    margin: 0 2px;
    min-width: 240px;
    position: relative;
    pointer-events: none;
    width: 98%;
}
.map-legend-bar {
    position: relative;
}

.legend-bar {
    box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, .1), inset 0 1px 0 0 rgba(0, 0, 0, .1), inset 0 -1px 0 0 rgba(0, 0, 0, .1);
    position: absolute;
    height: 8px;
    z-index: 0;
}
.map-legend-gradient {
    box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, .1), inset 0 1px 0 0 rgba(0, 0, 0, .1), inset 0 -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 0;
}
.map-legend-container {
    margin-top: 0;
    margin-left:10px;
    margin-bottom: 55px;
    width: 84%;
}
.census-legend-container {
    margin-top: 50px;
    margin-bottom: 55px;
    width: 100%;
}

.tick-text {
    font-family: "DM Sans";
    font-size: 12px;
    color: #6e6e6e;
    position: absolute;
    text-align: center;
    top: 13px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tick-text.guideline {
    color: #121212;
    font-weight: 700;
}

.tick-mark {
    background-color: #dcdcdc;
    height: 4px;
    position: absolute;
    top: 8px;
    width: 1px;
}

.tick-mark.guideline {
    background-color: #333;
    top: 0;
    height: 12px;
}
.tick-text-two-line {
    display: block;
    line-height: 1;
    position: relative;
}


.console-collapsed {
    transform: scale(0);
    opacity: 0;
}

#console-button.visible {
    opacity: 1;
}

.console-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#before, #after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    #console {
        top:0;
        width:100vw;
        height:20vh;
        margin:0;
        padding:0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    #comparison-container{
        height:80vh;
        position: relative;
        top:20vh;
    }
    
    #explain{
        display:none
    }
    .mapboxgl-ctrl-geocoder {
        display: none;
    }
    .search-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background: white;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }
}
#explain{
    bottom:10px;
    right:10px;
    display: none;
}
.show-search .mapboxgl-ctrl-geocoder {
    display: block;
}