body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.source {
    color: gray;
}


#no2 {
    align-content: flex-start;
    padding: 4px;
    border: 2px solid rgba(47, 47, 131, 1.00);
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.border {
    border-width: 3px;
    border-style: solid;
    border-color: #003665;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.session {
    margin-bottom: 20px;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, #0927a0, #59e1ff, #aeffc8, #fff947, #ff9b29, #f9525d, #850000,#320000);
    height: 20px;
    position: relative;
    /* margin-bottom: 20px; */
}

.ticks {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0; /* Adjust to position tick marks */
}


.tick {
    width: 1px;
    height: 10px;
    background: black;
}

.labels {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
}

.label {
    width: 10%;
    /* display: inline-block; */
    text-align: left;
}

.col {
    height: 12px;
    width: 100%;
}
label {
    font: 12px/20px 'Inter', sans-serif;
    font-weight: 400;
    color: black;
}
.map-label {
    font: 12px/20px 'Inter', sans-serif;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.e-control-wrapper.e-slider-container .e-scale .e-tick .e-tick-value {
    font: 10px/12px 'Inter', sans-serif;
    font-weight: 400;
    color: black;
}
.demos {
    background: linear-gradient(to right, #0052a9, #4bccff, #a9ffd4, #fcfccd, #ffa646, #d05134, #75001d);
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #2dc4b2;
}

/* Add font for headers */
h1 {
    font: 36px/40px 'DM Sans';
    font-weight: 900;
}
h2 {
    font: 24px/30px 'DM Sans';
    font-weight: 500;
}
h3 {
    font: 18px/18px 'DM Sans';
    font-weight: 700;
}
p {
    font: 12px/20px 'Inter', sans-serif;
}
.listing-group {
    font: 12px/20px 'Inter', sans-serif;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    max-width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
}

.listing-group input[type='checkbox']:first-child + label {
    border-radius: 3px 3px 0 0;
}

.listing-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.listing-group input[type='checkbox'] {
    display: none;
}

.listing-group input[type='checkbox'] + label {
    background-color: white;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}


.listing-group input[type='checkbox'] + label:hover,
.listing-group input[type='checkbox']:checked + label {
    background-color: whitesmoke;
}

.listing-group input[type='checkbox']:checked + label:before {
    content: '✔';
    margin-right: 5px;
}

.popup-content p {
    margin: 2px 0; /* Adjust the margin as needed */
    line-height: 1.2; /* Adjust the line height as needed */
    z-index: 1000;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Ensure the map itself fills the container */
#displaymap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#console-button {
    position: absolute;
    width:fit-content;
    height:fit-content;
    padding:6px;
    margin:6px;
    border-radius: 2px;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-size: 1em;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;
}

